<header class="header">
  <h1 class="SEA_Header">SEA Catering</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/menu">Menu</a>
    <a href="/subscription">Subscription</a>
    <a href="/contact">Contact</a>
    <a href="/signin" class="SignIn">Sign In</a>
  </nav>
</header>
