<!-- views/404.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>404 - Page Not Found</h1>
  <p>Maaf, halaman yang kamu cari tidak ditemukan.</p>
  <a href="/">Kembali ke Home</a>
</body>
</html>
