<!DOCTYPE html>
<html>
<head>
  <title>SEA Catering - Sign In</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/footer') %>        
</body>